*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
.background-general{
    background-image: url("../assets//images/collageMovie.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    margin: 20px auto;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .7);
    border-radius: 20px;
}
.contenedor h2{
    margin-bottom: 15px;
    padding: 0;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento label{
    font-size: 20px;
    color: #fff;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 01px solid #fff;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento input[type="submit"]{
    background-color: #e50914;
    border:none;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor-crud{
    margin: 20px;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .7);
    border-radius: 20px;
}
.contenedor-crud h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor-crud .elemento label{
    font-size: 15px;
    color: #fff;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor-crud .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 01px solid #fff;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor-crud .elemento textarea{
    background-color: aqua;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 01px solid #fff;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
#btn-agregar{
    background-color: #1be509;
    border:none;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
#btn-actualizar{
    background-color: #3e3e3a;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btn-eliminar{
    background-color: #e50914;
    padding: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.contenedor-table-crud{
    display: flex;
    justify-content: center;
    width: 100%;
}
.table-crud table{
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
    table-layout: fixed;
    border: solid 2px #fff;
    border-collapse: collapse;
    color: #fff;
}
.table-crud thead{
    background: rgba(0, 0, 0, 0.7);
}
.table-crud th{
    padding: 20px;
    font-weight: 700; 
}
.table-crud td{
    padding: 15px;
    border-bottom: solid 2px #fff;
}
.table-crud tbody tr:hover{
    background-color: #000000b3;
    color: #e50914;
}
.table-crud tbody tr{
    cursor: pointer;
}
.table-crud h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
svg {
    width: 350px;
    height: 50px;
    fill: #e50914;
    font-size: 65px;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 10px;
}
.footer {
    background: rgba(0,0,0,.7);
    text-align: center;
    margin-top: auto;
    padding: 15px;
  }
.footer-links p{
    margin: 5px;
    color: #fff;
    font-size: 20px;
}
.footer-links a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.footer-links a:hover{
    text-decoration: none;
    background-color: #e50914;
    padding: 5px;
}
.conteiner-text{
    background-color: #e50914;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.conteiner-text h1{
    color: #fff;
    padding: 10px;
    margin: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
.container-paragraf{
    background: rgba(0,0,0,.9);
    margin: 10px 200px;
}
.container-paragraf p{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: justify;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
}
.navbar li{
    float: left;
    border-right: 1px solid #bbb;
}
.navbar li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar li a:hover{
    background-color: #2c2c2c;
    color: #e50914;
}
li:last-child {
    border-right: none;
}
#logo{
    font-family: 'Bebas Neue', sans-serif;
    color: #e50914;
    font-size: 20px;
}
.busqueda-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.8);
}
.busqueda input{
    width: 90%;
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: rgba(0,0,0,.8);
}
.busqueda input::placeholder{
    color: rgb(255, 255, 255,.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.busqueda{
    width: 90%;
}
.btn-search{
    width: 10%;
}
.btn-search input{
    width: 90%;
    background-color: #e50914;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
}
.image-container{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.image-galery img{
    padding: 10px;
}
.home{
    background-color: #222020;
}
.title-general{
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10px;
}
.contenedor .error{
    background-color: rgb(230, 10, 21,.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}
.contenedor .sesion{
    background-color: rgba(10, 230, 113, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}
.contenedor-crud .error{
    background-color: rgb(230, 10, 21,.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin-top: 5px;
}
.contenedor-crud .succesful{
    background-color: rgba(10, 230, 113, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}
.contenedor-slider{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    padding: 0px 40px;
    margin:20px auto;
    
}
.botones-izq-der{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.botones-izq-der:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.slider-screen{
    width: 450px;
    background-color: rgba(0,0,0,.4);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
}
.slider-screen img{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    filter: saturate(175%);
    transition: transform 0.3s;
    cursor: pointer;
}
.slider-screen h3, .slider-screen p{
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.title-estreno{
    color: #e50914;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    background-color: rgba(0,0,0,.7);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}