*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url("../images/collageMovie.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100%;
}
.contenedor{
    margin: 20px auto;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .7);
    border-radius: 20px;
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-align: center;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento label{
    font-size: 20px;
    color: #fff;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 01px solid #fff;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
.contenedor .elemento input[type="submit"]{
    background-color: #e50914;
    border:none;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
}
svg {
    width: 350px;
    height: 50px;
    fill: #e50914;
    font-size: 65px;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 10px;
}
.footer {
    background: rgba(0,0,0,.7);
    text-align: center;
    margin-top: auto;
    padding: 20px;
  }
.footer-links p{
    margin: 5px;
    color: #fff;
    font-size: 20px;
}
.footer-links a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.footer-links a:hover{
    text-decoration: none;
    background-color: #e50914;
    padding: 5px;
}
.conteiner-text{
    background-color: #e50914;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.conteiner-text h1{
    color: #fff;
    padding: 10px;
    margin: 5px;
    font-family: 'Bebas Neue', sans-serif;
}
.container-paragraf{
    background: rgba(0,0,0,.9);
    margin: 10px 200px;
}
.container-paragraf p{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: justify;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.8);
}
.navbar li{
    float: left;
    border-right: 1px solid #bbb;
}
.navbar li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar li a:hover{
    background-color: #111;
    color: #e50914;
}
li:last-child {
    border-right: none;
}
#logo{
    font-family: 'Bebas Neue', sans-serif;
    color: #e50914;
    font-size: 20px;
}
.busqueda-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.8);

}
.busqueda input{
    width: 90%;
    padding: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: rgba(0,0,0,.8);
}
.busqueda input::placeholder{
    color: rgb(255, 255, 255,.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.busqueda{
    width: 90%;
}
.btn-search{
    width: 10%;
}
.btn-search input{
    width: 90%;
    background-color: #e50914;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
}